:root {
    --base-color: #4fecec;
    --bg-color: #532d7d;
    --white: #f0f0f9;
    --black: #000;
    --border: #1c1b1b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.teclado {
    display: flex;
}

#Lleft {
    position: relative;
    width: 17px;
    height: 200px;
    margin-left: -1rem;
    background-color: var(--border);
}

.oitava {
    position: relative;
    display: flex;
}

#Lright {
    position: relative;
    width: 14px;
    height: 200px;
    margin-left: 0rem;
    background-color: var(--border);
}

.white {
    background-color: var(--white);
    width: 34px;
    height: 200px;
    border: 1px solid var(--border);
    box-shadow: 0px 9px 0px var(--white), 0px 9px 20px rgba(0, 0, 0, .7);
    transition: all .1s ease;
}

.white:active {
    -webkit-box-shadow: 0px 3px 0px #cecece, 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px #cecece, 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px #cecece, 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 0px;
}

.black {
    position: absolute;
    background-color: var(--black);
    width: 24px;
    height: 120px;
    border: 3px solid #484848;
    z-index: 1;
}

#CS {
    left: 21px;
}

#DS {
    left: 58px;
}

#FS {
    left: 125px;
}

#GS {
    left: 160px;
}

#AS {
    left: 194px;
}

.playing {
    transform: scale(0.98);
    border-color: var(--base-color);
    box-shadow: 0 0 1rem var(--base-color);
}

.key {
    transition: transform 80ms ease;
}

#top {
    background-color: var(--border);
    height: 280px;
    width: 1255px;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: -1rem;
}

.Som {
    height: 155px;
    width: 250px;
    border-radius: 5px;
    display: flex;
}

#S1 {
    margin-top: 1rem;
    margin-left: 1px;
    background-image: url(./Fundo.png);
}

#S2 {
    margin-top: 1rem;
    margin-right: 1px;
    background-image: url(./Fundo.png);
}

.Som>div {
    height: 10px;
    width: 10px;
    background-color: #000;
    border: 2px solid #1a1919;
}

.visorTotal {
    height: 150px;
    width: 280px;
    background-color: rgb(16, 15, 15);
    margin-left: 11rem;
    margin-top: 1rem;
    border-radius: 0.7rem;
}

#visor {
    position: relative;
    height: 80px;
    width: 120px;
    border-radius: 5px;
    background-color: #484646;
    left: 50%;
    top: 29%;
    transform: translate(-50%, -40%);
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

#IdDate {
    height: 50%;
    margin-top: 0;
    background-color: #6a399f;
}

#date {
    margin: 0.2rem;
    text-align: center;
}

#notaMusical {
    height: 50%;
    background-color: #24d0d9;
    margin-bottom: 0;
}

#NotaMusic {
    color: #000;
    font-size: 1.7rem;
    margin: 0.5rem;
    font-weight: bold;
}

.meio {
    display: flex;
}

.butoesTopRight {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 37rem;
    margin-top: -8rem;
}

.butoesTopRight>button {
    margin: 0 6px 8px 0;
    height: 17px;
    width: 20px;
    background-color: #484848;
    border-radius: 0.2rem;
}

.butoesTopLeft {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 4rem;
    margin-top: -7.5rem;
}

.butoesTopLeft>button {
    margin: 0 6px 8px 0;
    height: 11px;
    width: 16px;
    background-color: #484848;
    border-radius: 0.2rem;
}

.butoesTopLeft>#left {
    margin-top: 2.5rem;
    background-color: #fff;
}

.AreaButtons {
    position: relative;
    height: 90px;
}

#completo {
    position: relative;
    width: 50%;
}

.butoesBottomOne {
    display: flex;
    height: 30px;
}

.butoesBottomOne>button {
    margin: 0 3px;
    height: 22px;
    width: 22px;
    border-radius: 0.3rem;
    background-color: #484848;
}

.butoesBottomTwo {
    display: flex;
    height: 30px;
    margin-left: 2rem;
}

.butoesBottomTwo>button {
    margin: 0 3px;
    height: 22px;
    width: 22px;
    border-radius: 0.3rem;
    background-color: #484848;
}

.butoesBottomTree {
    display: flex;
    height: 30px;
    margin-left: 2rem;
}

.butoesBottomTree>button {
    margin: 0 3px;
    height: 22px;
    width: 22px;
    border-radius: 0.3rem;
    background-color: #484848;
}

.butoesBottomFour {
    display: flex;
    height: 30px;
    margin-left: 3rem;
}

.butoesBottomFour>button {
    margin: 0 3px;
    height: 22px;
    width: 22px;
    border-radius: 0.3rem;
}

.buttonStart {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 2rem;
    position: absolute;
    margin-top: -3rem;
    background-color: #000;
    border: 7px solid #303030;
}

.AreaButtonsOne {
    position: relative;
    height: 55px;
}

.AreaButtonsTwo {
    display: flex;
    position: relative;
    height: 55px;
}

#bottom {
    height: 30px;
    width: 1255px;
    background-color: var(--border);
    margin-left: -1rem;
}

.clickWhite {
    color: #000;
    margin-top: 8.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

.clickBlack {
    color: #fff;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
}